.button-rounted {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    width: 153px;
    height: 38px;
    padding: 0 40px;
    background-color: #375573;
    border-radius: 19px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: lighten(#375573, 20%);
        color: white;
    }
}

.button-read-more {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;

    padding: 18px 30px;
    background-color: #375573;
    border-radius: 6px;
    
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: lighten(#375573, 20%);
        text-decoration: none;
        color: white;
    }
}